numpy
opencv-python-headless
scikit-image
scikit-learn
pandas
mahotas

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu

fastapi==0.111.0
uvicorn[standard]==0.23.2
python-multipart
